<div class="app-container">
  <div class="image-container">
    <img src="./assets/angular.png" alt="oi" />
  </div>

  <div class="button-wrapper">
    <button class="custom-button" (click)="onClick('newSyntax')">
      New syntax
    </button>
    <button class="custom-button" (click)="onClick('signals')">Signals</button>
    <button class="custom-button" (click)="onClick('modelInputs')">
      Input transforms
    </button>
    <button class="custom-button" (click)="onClick('deferred')">
      Deferred
    </button>
  </div>

  <div class="content-wrapper">
    @if (selectedComponent === "newSyntax") {
      <new-syntax />
    } @else if (selectedComponent === "modelInputs") {
      <transform name="this should be tranformed to uppercase" />
    } @else if (selectedComponent === "signals") {
      <signals-parent />
    } @else if (selectedComponent === "deferred") {
      <deferred />
    }
  </div>
</div>
